name: chart-java pipeline
trigger:
  branches:
    include:
    - refs/tags/*
pr:
  branches:
    include:
    - master
resources:
  repositories:
  - repository: cnp-azuredevops-libraries
    type: github
    ref: convert-to-helm3-command
    name: hmcts/cnp-azuredevops-libraries
    endpoint: 'hmcts'

variables:
  - name: agentPool
    value: ubuntu-latest

jobs:
- job: Validate
  pool:
    vmImage: ${{ variables.agentPool }}
  steps:
  - template: steps/charts/validate.yaml@cnp-azuredevops-libraries
    parameters:
      chartName: java
      chartReleaseName: chart-java-ci-test
      chartNamespace: chart-tests
      helmInstallTimeout: "500"

- job: Release
  # Make sure we have a tag to run this job
  # condition: >
  #   and(
  #       succeeded(),
  #       startsWith(variables['Build.SourceBranch'], 'refs/tags/')
  #     )
  dependsOn: Validate
  pool:
    vmImage: ${{ variables.agentPool }}
  steps:
  - template: steps/charts/release.yaml@cnp-azuredevops-libraries
    parameters:
      chartName: java
      chartReleaseName: chart-java
      chartNamespace: chart-tests