applicationPort: 4550
image: hmctspublic.azurecr.io/spring-boot/template
replicas: 1
registerAdditionalDns:
  enabled: false
memoryRequests: '512Mi'
cpuRequests: '250m'
memoryLimits: '2048Mi'
cpuLimits: '1000m'
devmemoryRequests: '512Mi'
devcpuRequests: '25m'
devmemoryLimits: '1024Mi'
devcpuLimits: '2500m'
readinessPath: '/health'
readinessDelay: 30
readinessTimeout: 3
readinessPeriod: 15
livenessPath: '/health/liveness'
livenessDelay: 30
livenessTimeout: 3
livenessPeriod: 15
livenessFailureThreshold: 3
applicationInsightsInstrumentKey: '00000000-0000-0000-0000-000000000000'
useInterpodAntiAffinity: false
pdb:
  enabled: true
  maxUnavailable: 50%

## Postgres chart configuration
## https://github.com/helm/charts/blob/master/stable/postgresql/values.yaml

postgresql:
  ## Whether to deploy the Postgres Chart or not
  enabled: false
  ## Disable Postgres Persistence
  persistence:
    enabled: false
  ## Default Postgres Configuration parameters
  postgresqlUsername: javapostgres
  postgresqlPassword: javapassword
  postgresqlDatabase: javadatabase
global:
  enableKeyVaults: false
  devMode: false
prometheus:
  enabled: false
  path: /prometheus
